# Mengklasifikasikan file Blade sebagai Blade, bukan HTML
*.blade.php linguist-language=Blade

# Mengklasifikasikan file PHP sebagai PHP
*.php linguist-language=PHP

# Mengabaikan file konfigurasi dari statistik bahasa
package.json linguist-vendored
vite.config.js linguist-vendored
composer.json linguist-vendored
composer.lock linguist-vendored

# Mengabaikan file CSS yang tidak signifikan
*.css linguist-vendored
*.scss linguist-vendored
