* text=auto eol=lf

# Mengklasifikasikan file Blade sebagai Blade
*.blade.php linguist-language=Blade diff=html

# Mengklasifikasikan file CSS, HTML, dan PHP dengan benar
*.css linguist-language=CSS diff=css
*.html linguist-language=HTML diff=html
*.md linguist-language=Markdown diff=markdown
*.php linguist-language=PHP diff=php

# Mengabaikan file dan folder yang tidak signifikan dalam statistik bahasa
/.github linguist-vendored export-ignore
CHANGELOG.md linguist-vendored export-ignore
.styleci.yml linguist-vendored export-ignore
