# Normalisasi akhir baris
* text=auto eol=lf

# Mengklasifikasikan Blade sebagai Blade, bukan HTML
*.blade.php linguist-language=Blade diff=html

# Mengklasifikasikan PHP dengan benar
*.php linguist-language=PHP diff=php

# Mengklasifikasikan CSS, SCSS, dan JavaScript
*.css linguist-language=CSS diff=css
*.scss linguist-language=SCSS diff=scss
*.js linguist-language=JavaScript diff=js
*.json linguist-vendored

# Menandai file yang diabaikan dalam statistik
/.github linguist-vendored export-ignore
CHANGELOG.md linguist-vendored export-ignore
.styleci.yml linguist-vendored export-ignore
composer.json linguist-vendored export-ignore
composer.lock linguist-vendored export-ignore
package.json linguist-vendored export-ignore
vite.config.js linguist-vendored export-ignore
